<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/styles/main.css">
    <link rel="stylesheet" href="./templates/styles/index.css">
    <link rel="stylesheet" href="./templates/styles/stars.css">
    <title>{{SITENAME_TEXT}}</title>
</head>
<body>
    <header>
        <a class="sitename" href="./">{{SITENAME_HEADER_TEXT}}</a>
    </header>
    <hr>
    <div class="services-list">
        {{SERVICES}}
    </div>
    <hr>
    <footer>
        {{FOOTER_TEXT}}
    </footer>
</body>
</html>